.sprite span {
    background-image: url(https://safarisight.com/monocle-icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.sprite span {
  position: relative;
  float: left;
  left: 70px;
  height: 40px;
  width: 40px;
}

@media (max-width: 720){
	#menu.sprite span {
	 position: relative;
	 float: left;
	 left: 70px;
	}
}

.sprite-1 {
    width: 40px;
    height: 40px;
    background-position: 0px 0px;
}

.sprite-10 {
    width: 40px;
    height: 40px;
    background-position: -40px 0px;
}

.sprite-100 {
    width: 40px;
    height: 40px;
    background-position: -80px 0px;
}

.sprite-101 {
    width: 40px;
    height: 40px;
    background-position: -120px 0px;
}

.sprite-102 {
    width: 40px;
    height: 40px;
    background-position: -160px 0px;
}

.sprite-103 {
    width: 40px;
    height: 40px;
    background-position: -200px 0px;
}

.sprite-104 {
    width: 40px;
    height: 40px;
    background-position: -240px 0px;
}

.sprite-105 {
    width: 40px;
    height: 40px;
    background-position: -280px 0px;
}

.sprite-106 {
    width: 40px;
    height: 40px;
    background-position: -320px 0px;
}

.sprite-107 {
    width: 40px;
    height: 40px;
    background-position: -360px 0px;
}

.sprite-108 {
    width: 40px;
    height: 40px;
    background-position: -400px 0px;
}

.sprite-109 {
    width: 40px;
    height: 40px;
    background-position: -440px 0px;
}

.sprite-11 {
    width: 40px;
    height: 40px;
    background-position: -480px 0px;
}

.sprite-110 {
    width: 40px;
    height: 40px;
    background-position: -520px 0px;
}

.sprite-111 {
    width: 40px;
    height: 40px;
    background-position: -560px 0px;
}

.sprite-112 {
    width: 40px;
    height: 40px;
    background-position: 0px -40px;
}

.sprite-113 {
    width: 40px;
    height: 40px;
    background-position: -40px -40px;
}

.sprite-114 {
    width: 40px;
    height: 40px;
    background-position: -80px -40px;
}

.sprite-115 {
    width: 40px;
    height: 40px;
    background-position: -120px -40px;
}

.sprite-116 {
    width: 40px;
    height: 40px;
    background-position: -160px -40px;
}

.sprite-117 {
    width: 40px;
    height: 40px;
    background-position: -200px -40px;
}

.sprite-118 {
    width: 40px;
    height: 40px;
    background-position: -240px -40px;
}

.sprite-119 {
    width: 40px;
    height: 40px;
    background-position: -280px -40px;
}

.sprite-12 {
    width: 40px;
    height: 40px;
    background-position: -320px -40px;
}

.sprite-120 {
    width: 40px;
    height: 40px;
    background-position: -360px -40px;
}

.sprite-121 {
    width: 40px;
    height: 40px;
    background-position: -400px -40px;
}

.sprite-122 {
    width: 40px;
    height: 40px;
    background-position: -440px -40px;
}

.sprite-123 {
    width: 40px;
    height: 40px;
    background-position: -480px -40px;
}

.sprite-124 {
    width: 40px;
    height: 40px;
    background-position: -520px -40px;
}

.sprite-125 {
    width: 40px;
    height: 40px;
    background-position: -560px -40px;
}

.sprite-126 {
    width: 40px;
    height: 40px;
    background-position: 0px -80px;
}

.sprite-127 {
    width: 40px;
    height: 40px;
    background-position: -40px -80px;
}

.sprite-128 {
    width: 40px;
    height: 40px;
    background-position: -80px -80px;
}

.sprite-129 {
    width: 40px;
    height: 40px;
    background-position: -120px -80px;
}

.sprite-13 {
    width: 40px;
    height: 40px;
    background-position: -160px -80px;
}

.sprite-130 {
    width: 40px;
    height: 40px;
    background-position: -200px -80px;
}

.sprite-131 {
    width: 40px;
    height: 40px;
    background-position: -240px -80px;
}

.sprite-132 {
    width: 40px;
    height: 40px;
    background-position: -280px -80px;
}

.sprite-133 {
    width: 40px;
    height: 40px;
    background-position: -320px -80px;
}

.sprite-134 {
    width: 40px;
    height: 40px;
    background-position: -360px -80px;
}

.sprite-135 {
    width: 40px;
    height: 40px;
    background-position: -400px -80px;
}

.sprite-136 {
    width: 40px;
    height: 40px;
    background-position: -440px -80px;
}

.sprite-137 {
    width: 40px;
    height: 40px;
    background-position: -480px -80px;
}

.sprite-138 {
    width: 40px;
    height: 40px;
    background-position: -520px -80px;
}

.sprite-139 {
    width: 40px;
    height: 40px;
    background-position: -560px -80px;
}

.sprite-14 {
    width: 40px;
    height: 40px;
    background-position: 0px -120px;
}

.sprite-140 {
    width: 40px;
    height: 40px;
    background-position: -40px -120px;
}

.sprite-141 {
    width: 40px;
    height: 40px;
    background-position: -80px -120px;
}

.sprite-142 {
    width: 40px;
    height: 40px;
    background-position: -120px -120px;
}

.sprite-143 {
    width: 40px;
    height: 40px;
    background-position: -160px -120px;
}

.sprite-144 {
    width: 40px;
    height: 40px;
    background-position: -200px -120px;
}

.sprite-145 {
    width: 40px;
    height: 40px;
    background-position: -240px -120px;
}

.sprite-146 {
    width: 40px;
    height: 40px;
    background-position: -280px -120px;
}

.sprite-147 {
    width: 40px;
    height: 40px;
    background-position: -320px -120px;
}

.sprite-148 {
    width: 40px;
    height: 40px;
    background-position: -360px -120px;
}

.sprite-149 {
    width: 40px;
    height: 40px;
    background-position: -400px -120px;
}

.sprite-15 {
    width: 40px;
    height: 40px;
    background-position: -440px -120px;
}

.sprite-150 {
    width: 40px;
    height: 40px;
    background-position: -480px -120px;
}

.sprite-151 {
    width: 40px;
    height: 40px;
    background-position: -520px -120px;
}

.sprite-152 {
    width: 40px;
    height: 40px;
    background-position: -560px -120px;
}

.sprite-153 {
    width: 40px;
    height: 40px;
    background-position: 0px -160px;
}

.sprite-154 {
    width: 40px;
    height: 40px;
    background-position: -40px -160px;
}

.sprite-155 {
    width: 40px;
    height: 40px;
    background-position: -80px -160px;
}

.sprite-156 {
    width: 40px;
    height: 40px;
    background-position: -120px -160px;
}

.sprite-157 {
    width: 40px;
    height: 40px;
    background-position: -160px -160px;
}

.sprite-158 {
    width: 40px;
    height: 40px;
    background-position: -200px -160px;
}

.sprite-159 {
    width: 40px;
    height: 40px;
    background-position: -240px -160px;
}

.sprite-16 {
    width: 40px;
    height: 40px;
    background-position: -280px -160px;
}

.sprite-160 {
    width: 40px;
    height: 40px;
    background-position: -320px -160px;
}

.sprite-161 {
    width: 40px;
    height: 40px;
    background-position: -360px -160px;
}

.sprite-162 {
    width: 40px;
    height: 40px;
    background-position: -400px -160px;
}

.sprite-163 {
    width: 40px;
    height: 40px;
    background-position: -440px -160px;
}

.sprite-164 {
    width: 40px;
    height: 40px;
    background-position: -480px -160px;
}

.sprite-165 {
    width: 40px;
    height: 40px;
    background-position: -520px -160px;
}

.sprite-166 {
    width: 40px;
    height: 40px;
    background-position: -560px -160px;
}

.sprite-167 {
    width: 40px;
    height: 40px;
    background-position: 0px -200px;
}

.sprite-168 {
    width: 40px;
    height: 40px;
    background-position: -40px -200px;
}

.sprite-169 {
    width: 40px;
    height: 40px;
    background-position: -80px -200px;
}

.sprite-17 {
    width: 40px;
    height: 40px;
    background-position: -120px -200px;
}

.sprite-170 {
    width: 40px;
    height: 40px;
    background-position: -160px -200px;
}

.sprite-171 {
    width: 40px;
    height: 40px;
    background-position: -200px -200px;
}

.sprite-172 {
    width: 40px;
    height: 40px;
    background-position: -240px -200px;
}

.sprite-173 {
    width: 40px;
    height: 40px;
    background-position: -280px -200px;
}

.sprite-174 {
    width: 40px;
    height: 40px;
    background-position: -320px -200px;
}

.sprite-175 {
    width: 40px;
    height: 40px;
    background-position: -360px -200px;
}

.sprite-176 {
    width: 40px;
    height: 40px;
    background-position: -400px -200px;
}

.sprite-177 {
    width: 40px;
    height: 40px;
    background-position: -440px -200px;
}

.sprite-178 {
    width: 40px;
    height: 40px;
    background-position: -480px -200px;
}

.sprite-179 {
    width: 40px;
    height: 40px;
    background-position: -520px -200px;
}

.sprite-18 {
    width: 40px;
    height: 40px;
    background-position: -560px -200px;
}

.sprite-180 {
    width: 40px;
    height: 40px;
    background-position: 0px -240px;
}

.sprite-181 {
    width: 40px;
    height: 40px;
    background-position: -40px -240px;
}

.sprite-182 {
    width: 40px;
    height: 40px;
    background-position: -80px -240px;
}

.sprite-183 {
    width: 40px;
    height: 40px;
    background-position: -120px -240px;
}

.sprite-184 {
    width: 40px;
    height: 40px;
    background-position: -160px -240px;
}

.sprite-185 {
    width: 40px;
    height: 40px;
    background-position: -200px -240px;
}

.sprite-186 {
    width: 40px;
    height: 40px;
    background-position: -240px -240px;
}

.sprite-187 {
    width: 40px;
    height: 40px;
    background-position: -280px -240px;
}

.sprite-188 {
    width: 40px;
    height: 40px;
    background-position: -320px -240px;
}

.sprite-189 {
    width: 40px;
    height: 40px;
    background-position: -360px -240px;
}

.sprite-19 {
    width: 40px;
    height: 40px;
    background-position: -400px -240px;
}

.sprite-190 {
    width: 40px;
    height: 40px;
    background-position: -440px -240px;
}

.sprite-191 {
    width: 40px;
    height: 40px;
    background-position: -480px -240px;
}

.sprite-192 {
    width: 40px;
    height: 40px;
    background-position: -520px -240px;
}

.sprite-193 {
    width: 40px;
    height: 40px;
    background-position: -560px -240px;
}

.sprite-194 {
    width: 40px;
    height: 40px;
    background-position: 0px -280px;
}

.sprite-195 {
    width: 40px;
    height: 40px;
    background-position: -40px -280px;
}

.sprite-196 {
    width: 40px;
    height: 40px;
    background-position: -80px -280px;
}

.sprite-197 {
    width: 40px;
    height: 40px;
    background-position: -120px -280px;
}

.sprite-198 {
    width: 40px;
    height: 40px;
    background-position: -160px -280px;
}

.sprite-199 {
    width: 40px;
    height: 40px;
    background-position: -200px -280px;
}

.sprite-2 {
    width: 40px;
    height: 40px;
    background-position: -240px -280px;
}

.sprite-20 {
    width: 40px;
    height: 40px;
    background-position: -280px -280px;
}

.sprite-200 {
    width: 40px;
    height: 40px;
    background-position: -320px -280px;
}

.sprite-201 {
    width: 40px;
    height: 40px;
    background-position: -360px -280px;
}

.sprite-202 {
    width: 40px;
    height: 40px;
    background-position: -400px -280px;
}

.sprite-203 {
    width: 40px;
    height: 40px;
    background-position: -440px -280px;
}

.sprite-204 {
    width: 40px;
    height: 40px;
    background-position: -480px -280px;
}

.sprite-205 {
    width: 40px;
    height: 40px;
    background-position: -520px -280px;
}

.sprite-206 {
    width: 40px;
    height: 40px;
    background-position: -560px -280px;
}

.sprite-207 {
    width: 40px;
    height: 40px;
    background-position: 0px -320px;
}

.sprite-208 {
    width: 40px;
    height: 40px;
    background-position: -40px -320px;
}

.sprite-209 {
    width: 40px;
    height: 40px;
    background-position: -80px -320px;
}

.sprite-21 {
    width: 40px;
    height: 40px;
    background-position: -120px -320px;
}

.sprite-210 {
    width: 40px;
    height: 40px;
    background-position: -160px -320px;
}

.sprite-211 {
    width: 40px;
    height: 40px;
    background-position: -200px -320px;
}

.sprite-212 {
    width: 40px;
    height: 40px;
    background-position: -240px -320px;
}

.sprite-213 {
    width: 40px;
    height: 40px;
    background-position: -280px -320px;
}

.sprite-214 {
    width: 40px;
    height: 40px;
    background-position: -320px -320px;
}

.sprite-215 {
    width: 40px;
    height: 40px;
    background-position: -360px -320px;
}

.sprite-216 {
    width: 40px;
    height: 40px;
    background-position: -400px -320px;
}

.sprite-217 {
    width: 40px;
    height: 40px;
    background-position: -440px -320px;
}

.sprite-218 {
    width: 40px;
    height: 40px;
    background-position: -480px -320px;
}

.sprite-219 {
    width: 40px;
    height: 40px;
    background-position: -520px -320px;
}

.sprite-22 {
    width: 40px;
    height: 40px;
    background-position: -560px -320px;
}

.sprite-220 {
    width: 40px;
    height: 40px;
    background-position: 0px -360px;
}

.sprite-221 {
    width: 40px;
    height: 40px;
    background-position: -40px -360px;
}

.sprite-222 {
    width: 40px;
    height: 40px;
    background-position: -80px -360px;
}

.sprite-223 {
    width: 40px;
    height: 40px;
    background-position: -120px -360px;
}

.sprite-224 {
    width: 40px;
    height: 40px;
    background-position: -160px -360px;
}

.sprite-225 {
    width: 40px;
    height: 40px;
    background-position: -200px -360px;
}

.sprite-226 {
    width: 40px;
    height: 40px;
    background-position: -240px -360px;
}

.sprite-227 {
    width: 40px;
    height: 40px;
    background-position: -280px -360px;
}

.sprite-228 {
    width: 40px;
    height: 40px;
    background-position: -320px -360px;
}

.sprite-229 {
    width: 40px;
    height: 40px;
    background-position: -360px -360px;
}

.sprite-23 {
    width: 40px;
    height: 40px;
    background-position: -400px -360px;
}

.sprite-230 {
    width: 40px;
    height: 40px;
    background-position: -440px -360px;
}

.sprite-231 {
    width: 40px;
    height: 40px;
    background-position: -480px -360px;
}

.sprite-232 {
    width: 40px;
    height: 40px;
    background-position: -520px -360px;
}

.sprite-233 {
    width: 40px;
    height: 40px;
    background-position: -560px -360px;
}

.sprite-234 {
    width: 40px;
    height: 40px;
    background-position: 0px -400px;
}

.sprite-235 {
    width: 40px;
    height: 40px;
    background-position: -40px -400px;
}

.sprite-236 {
    width: 40px;
    height: 40px;
    background-position: -80px -400px;
}

.sprite-237 {
    width: 40px;
    height: 40px;
    background-position: -120px -400px;
}

.sprite-238 {
    width: 40px;
    height: 40px;
    background-position: -160px -400px;
}

.sprite-239 {
    width: 40px;
    height: 40px;
    background-position: -200px -400px;
}

.sprite-24 {
    width: 40px;
    height: 40px;
    background-position: -240px -400px;
}

.sprite-240 {
    width: 40px;
    height: 40px;
    background-position: -280px -400px;
}

.sprite-241 {
    width: 40px;
    height: 40px;
    background-position: -320px -400px;
}

.sprite-242 {
    width: 40px;
    height: 40px;
    background-position: -360px -400px;
}

.sprite-243 {
    width: 40px;
    height: 40px;
    background-position: -400px -400px;
}

.sprite-244 {
    width: 40px;
    height: 40px;
    background-position: -440px -400px;
}

.sprite-245 {
    width: 40px;
    height: 40px;
    background-position: -480px -400px;
}

.sprite-246 {
    width: 40px;
    height: 40px;
    background-position: -520px -400px;
}

.sprite-247 {
    width: 40px;
    height: 40px;
    background-position: -560px -400px;
}

.sprite-248 {
    width: 40px;
    height: 40px;
    background-position: 0px -440px;
}

.sprite-249 {
    width: 40px;
    height: 40px;
    background-position: -40px -440px;
}

.sprite-25 {
    width: 40px;
    height: 40px;
    background-position: -80px -440px;
}

.sprite-250 {
    width: 40px;
    height: 40px;
    background-position: -120px -440px;
}

.sprite-251 {
    width: 40px;
    height: 40px;
    background-position: -160px -440px;
}

.sprite-26 {
    width: 40px;
    height: 40px;
    background-position: -200px -440px;
}

.sprite-27 {
    width: 40px;
    height: 40px;
    background-position: -240px -440px;
}

.sprite-28 {
    width: 40px;
    height: 40px;
    background-position: -280px -440px;
}

.sprite-29 {
    width: 40px;
    height: 40px;
    background-position: -320px -440px;
}

.sprite-3 {
    width: 40px;
    height: 40px;
    background-position: -360px -440px;
}

.sprite-30 {
    width: 40px;
    height: 40px;
    background-position: -400px -440px;
}

.sprite-31 {
    width: 40px;
    height: 40px;
    background-position: -440px -440px;
}

.sprite-32 {
    width: 40px;
    height: 40px;
    background-position: -480px -440px;
}

.sprite-33 {
    width: 40px;
    height: 40px;
    background-position: -520px -440px;
}

.sprite-34 {
    width: 40px;
    height: 40px;
    background-position: -560px -440px;
}

.sprite-35 {
    width: 40px;
    height: 40px;
    background-position: 0px -480px;
}

.sprite-36 {
    width: 40px;
    height: 40px;
    background-position: -40px -480px;
}

.sprite-37 {
    width: 40px;
    height: 40px;
    background-position: -80px -480px;
}

.sprite-38 {
    width: 40px;
    height: 40px;
    background-position: -120px -480px;
}

.sprite-39 {
    width: 40px;
    height: 40px;
    background-position: -160px -480px;
}

.sprite-4 {
    width: 40px;
    height: 40px;
    background-position: -200px -480px;
}

.sprite-40 {
    width: 40px;
    height: 40px;
    background-position: -240px -480px;
}

.sprite-41 {
    width: 40px;
    height: 40px;
    background-position: -280px -480px;
}

.sprite-42 {
    width: 40px;
    height: 40px;
    background-position: -320px -480px;
}

.sprite-43 {
    width: 40px;
    height: 40px;
    background-position: -360px -480px;
}

.sprite-44 {
    width: 40px;
    height: 40px;
    background-position: -400px -480px;
}

.sprite-45 {
    width: 40px;
    height: 40px;
    background-position: -440px -480px;
}

.sprite-46 {
    width: 40px;
    height: 40px;
    background-position: -480px -480px;
}

.sprite-47 {
    width: 40px;
    height: 40px;
    background-position: -520px -480px;
}

.sprite-48 {
    width: 40px;
    height: 40px;
    background-position: -560px -480px;
}

.sprite-49 {
    width: 40px;
    height: 40px;
    background-position: 0px -520px;
}

.sprite-5 {
    width: 40px;
    height: 40px;
    background-position: -40px -520px;
}

.sprite-50 {
    width: 40px;
    height: 40px;
    background-position: -80px -520px;
}

.sprite-51 {
    width: 40px;
    height: 40px;
    background-position: -120px -520px;
}

.sprite-52 {
    width: 40px;
    height: 40px;
    background-position: -160px -520px;
}

.sprite-53 {
    width: 40px;
    height: 40px;
    background-position: -200px -520px;
}

.sprite-54 {
    width: 40px;
    height: 40px;
    background-position: -240px -520px;
}

.sprite-55 {
    width: 40px;
    height: 40px;
    background-position: -280px -520px;
}

.sprite-56 {
    width: 40px;
    height: 40px;
    background-position: -320px -520px;
}

.sprite-57 {
    width: 40px;
    height: 40px;
    background-position: -360px -520px;
}

.sprite-58 {
    width: 40px;
    height: 40px;
    background-position: -400px -520px;
}

.sprite-59 {
    width: 40px;
    height: 40px;
    background-position: -440px -520px;
}

.sprite-6 {
    width: 40px;
    height: 40px;
    background-position: -480px -520px;
}

.sprite-60 {
    width: 40px;
    height: 40px;
    background-position: -520px -520px;
}

.sprite-61 {
    width: 40px;
    height: 40px;
    background-position: -560px -520px;
}

.sprite-62 {
    width: 40px;
    height: 40px;
    background-position: 0px -560px;
}

.sprite-63 {
    width: 40px;
    height: 40px;
    background-position: -40px -560px;
}

.sprite-64 {
    width: 40px;
    height: 40px;
    background-position: -80px -560px;
}

.sprite-65 {
    width: 40px;
    height: 40px;
    background-position: -120px -560px;
}

.sprite-66 {
    width: 40px;
    height: 40px;
    background-position: -160px -560px;
}

.sprite-67 {
    width: 40px;
    height: 40px;
    background-position: -200px -560px;
}

.sprite-68 {
    width: 40px;
    height: 40px;
    background-position: -240px -560px;
}

.sprite-69 {
    width: 40px;
    height: 40px;
    background-position: -280px -560px;
}

.sprite-7 {
    width: 40px;
    height: 40px;
    background-position: -320px -560px;
}

.sprite-70 {
    width: 40px;
    height: 40px;
    background-position: -360px -560px;
}

.sprite-71 {
    width: 40px;
    height: 40px;
    background-position: -400px -560px;
}

.sprite-72 {
    width: 40px;
    height: 40px;
    background-position: -440px -560px;
}

.sprite-73 {
    width: 40px;
    height: 40px;
    background-position: -480px -560px;
}

.sprite-74 {
    width: 40px;
    height: 40px;
    background-position: -520px -560px;
}

.sprite-75 {
    width: 40px;
    height: 40px;
    background-position: -560px -560px;
}

.sprite-76 {
    width: 40px;
    height: 40px;
    background-position: -600px 0px;
}

.sprite-77 {
    width: 40px;
    height: 40px;
    background-position: -600px -40px;
}

.sprite-78 {
    width: 40px;
    height: 40px;
    background-position: -600px -80px;
}

.sprite-79 {
    width: 40px;
    height: 40px;
    background-position: -600px -120px;
}

.sprite-8 {
    width: 40px;
    height: 40px;
    background-position: -600px -160px;
}

.sprite-80 {
    width: 40px;
    height: 40px;
    background-position: -600px -200px;
}

.sprite-81 {
    width: 40px;
    height: 40px;
    background-position: -600px -240px;
}

.sprite-82 {
    width: 40px;
    height: 40px;
    background-position: -600px -280px;
}

.sprite-83 {
    width: 40px;
    height: 40px;
    background-position: -600px -320px;
}

.sprite-84 {
    width: 40px;
    height: 40px;
    background-position: -600px -360px;
}

.sprite-85 {
    width: 40px;
    height: 40px;
    background-position: -600px -400px;
}

.sprite-86 {
    width: 40px;
    height: 40px;
    background-position: -600px -440px;
}

.sprite-87 {
    width: 40px;
    height: 40px;
    background-position: -600px -480px;
}

.sprite-88 {
    width: 40px;
    height: 40px;
    background-position: -600px -520px;
}

.sprite-89 {
    width: 40px;
    height: 40px;
    background-position: -600px -560px;
}

.sprite-9 {
    width: 40px;
    height: 40px;
    background-position: 0px -601px;
}

.sprite-90 {
    width: 40px;
    height: 40px;
    background-position: -40px -600px;
}

.sprite-91 {
    width: 40px;
    height: 40px;
    background-position: -80px -600px;
}

.sprite-92 {
    width: 40px;
    height: 40px;
    background-position: -120px -600px;
}

.sprite-93 {
    width: 40px;
    height: 40px;
    background-position: -160px -600px;
}

.sprite-94 {
    width: 40px;
    height: 40px;
    background-position: -200px -600px;
}

.sprite-95 {
    width: 40px;
    height: 40px;
    background-position: -240px -600px;
}

.sprite-96 {
    width: 40px;
    height: 40px;
    background-position: -280px -600px;
}

.sprite-97 {
    width: 40px;
    height: 40px;
    background-position: -320px -600px;
}

.sprite-98 {
    width: 40px;
    height: 40px;
    background-position: -360px -600px;
}

.sprite-99 {
    width: 40px;
    height: 40px;
    background-position: -400px -600px;
}
